[Desktop Entry]
Type=Application
Name[ab]=GNOME Shell
Name[af]=GNOME Shell
Name[an]=GNOME Shell
Name[ar]=صدفة جنوم
Name[as]=GNOME শ্বেল
Name[ast]=GNOME Shell
Name[be]=Абалонка GNOME
Name[be@latin]=Abałonka GNOME
Name[bg]=Обвивка на GNOME
Name[bn]=গ্নোম শেল
Name[bn_IN]=GNOME সেল
Name[bs]=GNOME školjka
Name[ca]=GNOME Shell
Name[ca@valencia]=GNOME Shell
Name[ckb]=شێڵی گنۆم
Name[cs]=GNOME Shell
Name[da]=GNOME Shell
Name[de]=GNOME-Shell
Name[el]=Κέλυφος GNOME
Name[en_GB]=GNOME Shell
Name[eo]=GNOME-ŝelo
Name[es]=GNOME Shell
Name[et]=GNOME Shell
Name[eu]=GNOME Shell
Name[fa]=پوستهٔ گنوم
Name[fi]=Gnome Shell
Name[fr]=Shell de GNOME
Name[fur]=GNOME Shell
Name[fy]=GNOME Shell
Name[ga]=GNOME Shell
Name[gd]=Slige GNOME
Name[gl]=GNOME Shell
Name[gu]=GNOME શેલ
Name[he]=מעטפת GNOME
Name[hi]=गनोम शैल
Name[hr]=GNOME ljuska
Name[hu]=GNOME Shell
Name[ia]=GNOME Shell
Name[id]=GNOME Shell
Name[ie]=Shell GNOME
Name[is]=GNOME skel
Name[it]=GNOME Shell
Name[ja]=GNOME Shell
Name[ka]=GNOME-ის გარსი
Name[kab]=GNOME Shell
Name[kk]=GNOME Shell
Name[km]=GNOME សែល
Name[kn]=GNOME ಶೆಲ್‌
Name[ko]=그놈 셸
Name[ky]=GNOME Shell
Name[lt]=GNOME Shell aplinka
Name[lv]=GNOME čaula
Name[mjw]=GNOME Shell
Name[mk]=GNOME Shell
Name[ml]=ഗ്നോം ഷെല്‍
Name[mr]=GNOME शेल
Name[ms]=Shell GNOME
Name[nb]=GNOME Shell
Name[ne]=जिनोम शेल
Name[nl]=GNOME Shell
Name[nn]=GNOME Shell
Name[oc]=GNOME Shell
Name[or]=GNOME ସେଲ
Name[os]=GNOME Shell
Name[pa]=ਗਨੋਮ ਸ਼ੈਲ
Name[pl]=Powłoka środowiska GNOME
Name[pt]=Interface GNOME
Name[pt_BR]=GNOME Shell
Name[ro]=Interfața GNOME
Name[ru]=GNOME Shell
Name[si]=GNOME ශෙල්
Name[sk]=Shell prostredia GNOME
Name[sl]=Lupina GNOME
Name[sr]=Гномова шкољка
Name[sr@latin]=Gnomova školjka
Name[sv]=GNOME-skal
Name[ta]=க்னோம் ஷெல்
Name[te]=గ్నోమ్ షెల్
Name[tg]=Восити GNOME
Name[th]=GNOME Shell
Name[tr]=GNOME Kabuğu
Name[ug]=گىنوم Shell
Name[uk]=GNOME Shell
Name[uz]=GNOME Shell
Name[uz@cyrillic]=GNOME Shell
Name[vi]=Hệ vỏ GNOME
Name[zh_CN]=GNOME Shell
Name[zh_HK]=GNOME Shell
Name[zh_TW]=GNOME Shell
Name=GNOME Shell
Comment[af]=Vensterbestuur en toepassinglansering
Comment[an]=Chestión de finestras y inicio d'aplicacions
Comment[ar]=إدارة النوافذ وإطلاق التطبيقات
Comment[as]=উইন্ডো ব্যৱস্থাপনা আৰু এপ্লিকেচনৰ লঞ্চ
Comment[ast]=Xestión de ventanes y aniciu d'aplicaciones
Comment[be]=Кіраванне вокнамі і запуск праграм
Comment[be@latin]=Kiravannie voknami i zapusk prahram
Comment[bg]=Управление на прозорци и стартиране на програми
Comment[bn]=উইন্ডো ব্যবস্থাপনা এবং অ্যাপ্লিকেশন চালু করা
Comment[bn_IN]=উইন্ডো পরিচালনা ও অ্যাপ্লিকেশন প্রারম্ভ
Comment[bs]=Upravljanje prozorima i pokretanje programa
Comment[ca]=Gestor de finestres i llançador d'aplicacions
Comment[ca@valencia]=Gestor de finestres i llançador d'aplicacions
Comment[cs]=Správa oken a spouštění aplikací
Comment[da]=Vindueshåndtering og åbning af programmer
Comment[de]=Fenster verwalten und Anwendungen starten
Comment[el]=Διαχείριση παραθύρων και εκκίνηση εφαρμογών
Comment[en_GB]=Window management and application launching
Comment[eo]=Fenestroadministrado kaj aplikaĵo-lanĉado
Comment[es]=Gestión de ventanas e inicio de aplicaciones
Comment[et]=Aknahaldur ja rakenduste käivitaja
Comment[eu]=Leiho-kudeaketa eta aplikazioak abiaraztea
Comment[fa]=مدیریت پنجره‌ها و اجرا کنندهٔ برنامه‌ها
Comment[fi]=Ikkunanhallinta ja sovelluksien käynnistäminen
Comment[fr]=Gestion des fenêtres et lancement des applications
Comment[fur]=Gjestion barcons e inviament aplicazions
Comment[fy]=Finster behear en applikaasjes útfiere
Comment[gd]=Stiùireadh uinneagan is cur gu dol aplacaidean
Comment[gl]=Xestor de xanelas e inicio de aplicacións
Comment[gu]=વિન્ડો સંચાલન અને કાર્યક્રમ શરૂઆત
Comment[he]=ניהול חלונות והרצת יישומים
Comment[hi]=विंडो प्रबंधन और अनुप्रयोग लॉन्चिंग
Comment[hr]=Pokretanje upravljanja prozorima i aplikacijama
Comment[hu]=Ablakkezelés és alkalmazásindítás
Comment[ia]=Gestion de fenestras e lanceamento de applicationes
Comment[id]=Manajemen jendela dan peluncuran aplikasi
Comment[is]=Gluggastjórnun og forritaræsing
Comment[it]=Gestione finestre e avvio applicazioni
Comment[ja]=ウィンドウ管理とアプリの起動
Comment[ka]=ფანჯრების მართვა და აპლიკაციების გაშვება
Comment[kk]=Терезелерді басқару мен қолданбаларды жөнелту
Comment[km]=ការ​គ្រប់គ្រង​វីនដូ និង​ការ​ចាប់ផ្ដើម​កម្មវិធី
Comment[kn]=ಕಿಟಕಿ ನಿರ್ವಹಣೆ ಹಾಗು ಅನ್ವಯವನ್ನು ಆರಂಭಿಸುವಿಕೆ
Comment[ko]=창 관리 및 앱 실행
Comment[ky]=Терезелерди башкаруу жана тиркемелерди иштетүү
Comment[lt]=Langų tvarkymas ir programų paleidimas
Comment[lv]=Logu pārvaldība un lietotņu palaišana
Comment[mk]=Менаџмент на прозорци и пуштање на апликации
Comment[ml]=വിന്‍ഡോ കൈകാര്യം ചെയ്യലും പ്രയോഗം ലഭ്യമാക്കലും
Comment[mr]=पटल व्यवस्थापन व ॲप्लिकेशन सुरू करणे
Comment[ms]=Pengurusan tetingkap dan pelancaran aplikasi
Comment[nb]=Styr systemet og åpne apper
Comment[ne]=सञ्झ्याल प्रबन्ध र अनुप्रयोग सुरुआत 
Comment[nl]=Vensterbeheer en toepassingen starten
Comment[nn]=Vindaugshandsaming og programstarting
Comment[oc]=Gestion de las fenèstras e aviada de las aplicacions
Comment[or]=ୱିଣ୍ଡୋ ପରିଚାଳନା ଏବଂ ପ୍ରୟୋଗ ପ୍ରାରମ୍ଭ
Comment[os]=Рудзгуытӕй архайын ӕмӕ ӕфтуан иу кӕнын
Comment[pa]=ਵਿੰਡੋ ਇੰਤਜ਼ਾਮ ਅਤੇ ਐਪਲੀਕੇਸ਼ਨ ਚਲਾਉਣਾ
Comment[pl]=Zarządzanie oknami i uruchamianiem programów
Comment[pt]=Gestão de janelas e iniciação de aplicações
Comment[pt_BR]=Gerenciamento de janelas e inicializador de aplicativos
Comment[ro]=Administrare de ferestre și lansare de aplicații
Comment[ru]=Управление окнами и запуск приложений
Comment[sk]=Správa okien a spúšťanie aplikácií
Comment[sl]=Upravljanje oken in zaganjanje programov
Comment[sr]=Управник прозорима и покретач програма
Comment[sr@latin]=Upravnik prozorima i pokretač programa
Comment[sv]=Fönsterhantering och uppstart av program
Comment[ta]=சாளர மேலாண்மை மற்றும் பயன்பாடு துவக்கம்
Comment[te]=కిటికీ నిర్వాహణ మరియు అనువర్తనము ప్రారంభించుట
Comment[tg]=Идоракунии равзанаҳо ва оғозкунии барномаҳо
Comment[th]=การจัดการหน้าต่างและการเรียกใช้แอปพลิเคชัน
Comment[tr]=Pencere yönetimi ve uygulama başlatma
Comment[ug]=كۆزنەك باشقۇرۇش ۋە پروگرامما ئىجرا قىلىش پروگراممىسى
Comment[uk]=Керування вікнами та запуск програм
Comment[uz]=Oyna boshqaruvi va ilovalarni ishga tushirish
Comment[uz@cyrillic]=Ойналарни бошқариш ва дастурларни очиш
Comment[vi]=Quản lý cửa sổ và chạy ứng dụng
Comment[zh_CN]=窗口管理与应用程序启动
Comment[zh_HK]=視窗管理與應用程式的執行
Comment[zh_TW]=兼具視窗管理器與應用程式啟動器的使用者介面
Comment=Window management and application launching
Exec=/usr/bin/gnome-shell
Categories=GNOME;GTK;Core;
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=DisplayServer
X-GNOME-Provides=panel;windowmanager;
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=false
X-GNOME-HiddenUnderSystemd=false
