[Desktop Entry]
Encoding=UTF-8
Name=GNOME
Name[az]=GNOME
Name[be]=GNOME
Name[ca]=GNOME
Name[cs]=GNOME
Name[cy]=GNOME
Name[da]=Gnome
Name[de]=GNOME
Name[el]=GNOME
Name[es]=GNOME
Name[et]=GNOME
Name[fi]=Gnome
Name[fr]=GNOME
Name[he]=GNOME
Name[hu]=GNOME
Name[it]=GNOME
Name[ko]=그놈
Name[ms]=GNOME
Name[nl]=GNOME
Name[no]=GNOME
Name[pl]=GNOME
Name[pt]=GNOME
Name[pt_BR]=GNOME
Name[ru]=GNOME
Name[sk]=GNOME
Name[sl]=GNOME
Name[sq]=GNOME
Name[sr]=Гном
Name[sr@Latn]=Gnom
Name[sv]=GNOME
Name[uk]=GNOME
Name[zh_CN]=GNOME
Name[zh_TW]=GNOME
Comment=This session logs you into GNOME
Comment[az]=Bu iclas sizi GNOME'a daxil edəcək
Comment[be]=Гэтая сэсыя завядзе вас у GNOME
Comment[ca]=Aquesta sessió entra en GNOME
Comment[cs]=Toto sezení vás přihlásí do GNOME
Comment[cy]=Mae'r sesiwn hwn yn eich mewngofnodi i GNOME
Comment[da]=Denne session logger dig på Gnome
Comment[de]=Diese Sitzung meldet Sie an GNOME an
Comment[el]=Αυτή η συνεδρία σας εισάγει στο GNOME
Comment[es]=Con esta sesión accede a GNOME
Comment[fi]=Tämä istunto kirjaa sisään Gnomeen
Comment[fr]=Cette session vous connectera dans GNOME
Comment[he]=תצורת הפעלה זו מחברת אותך ל GNOME
Comment[ko]=GNOME세션으로 로그인합니다
Comment[ms]=Sesi ini akan log anda  ke GNOME
Comment[nl]=Deze sessie meldt u aan bij GNOME
Comment[no]=Denne sesjonen logger deg inn til GNOME
Comment[pl]=Sesja logowania do GNOME
Comment[pt]=Esta sessão inicia-o no GNOME
Comment[pt_BR]=Logar no ambiente GNOME
Comment[sk]=Toto sedenie vás prihlási do prostredia GNOME
Comment[sl]=Ta seja vas prijavi v GNOMe
Comment[sq]=Kjo seancë do t'ju fusë në GNOME
Comment[sr]=Ова сесија вас пријављује на Гнома
Comment[sr@Latn]=Ova sesija vas prijavljuje na Gnoma
Comment[sv]=Denna session loggar in dig i GNOME
Comment[uk]=Сеанс роботи в середовищі GNOME
Comment[zh_CN]=此会话使您登录到 GNOME
Comment[zh_TW]=選取這個作業階段後會進入 GNOME 環境
Exec=/etc/X11/xdm/Xsession gnome
# no icon yet, only the top three are currently used
Icon=
Type=Application
