[Desktop Entry]
Type=Application
Name=GNOME maintenance of expirable data
Exec=false
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
X-GNOME-HiddenUnderSystemd=false
Hidden=true
